ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #F6E5BE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #621818;
}

h1 {
    font-family: fantasy;
    color: #333;
    text-decoration: overline;
}

h2 {
    font-family: fantasy;
    color: #333;
}

h3 {
    font-family: fantasy;
    color: #333;
}

p {
    color: #621818;
}

h6 {
    color: #FEFEFE;
}

img {
    height: 300px;
}

table {
    align: center;
}
